{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="about-main">
        <h1>About ZEN</h1>
        <p>This is my final project for Harvard's CS50 made with HTML, CSS, Javascript, Flask, Jinja and SQL.
        I felt inspired to work on this because, near the end of the course, I started tracking my calories and had to search for a tool to do so.
        I worked on this project for about 2-3 weeks, and beforehand I had decided to take some more online courses to reinforce my CSS knowledge (such as freeCodeCamp's)
        which really came in handy.</p>
        <h1>About Me</h1>
        <p>My name is Nicolas Cristal, I'm 21 years old and currently looking for a job as a software engineer, I've been studying code since March 2023.<br>
            I currently live in Argentina and speak both Spanish and English fluently. Here are my socials for contacting:
        </p>
        <div class="contact">
            <a href="https://www.linkedin.com/in/nicolascristal20/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/nicocristal"><i class="fa-brands fa-github"></i></i></a>
        </div>
    </div>
{% endblock %}